.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
output/temp/*
analysis/*jpg
analysis/figure
analysis/*png
analysis/*html
output/figures
#docs/*
docs/site_libs/*
presentation_results_files*
*.html
docs/*.html
